@using AsoiafWikiDb.Models
@model AsoiafWikiDb.Models.PageIndexViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Pages.Count() pages found</h2>

<table class="table">
    <thead>
        <tr>
            <td>Page</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var page in Model.Pages)
        {
            <tr>
                <td>
                    <a href="@page.info.title.ToWikiPageUri()">@page.info.title</a>
                </td>
            </tr>
        }
    </tbody>
</table>